@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
            url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import "bootstrap.scss";
@import "fonts.scss";
@import "nullstyle.scss";

//переменные
:root {
    --headerBg: #05b7bf;
    --langLink: #ababab;
    --sideHeader: #05b7bd;
    --sideHeaderText: #00245a;
    --sideMuted: #6c757d;
    --sideDark: #212529;
    --primaryColor: #7749f8;
    --primaryColorLight: #ebe5fc;
    --searchBtn: #7749f8;
    --searchBg: #f8f9fa;
    --primaryColorDark: #5227cc;
    --secondaryLight: #abb5be;
    --baseColor: #68717a;
    --white: #ffffff;
    --dark: #343a40;
    --darkAccordion: #000000;
    --titleColor: #152536;
    --stroke: #dee2e6;
    --cardBg: #e9e9e9;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    height: 1px;
}
.main {
    width: 100%;
    padding: 0 1px;
    margin: 0 auto;
    background-color: var(--white);
    // border: 1px solid #000;
}
input[type="search"] {
    font-family: "roboto-r";
    font-size: 12px;
    line-height: 14px;
    color: #abb5be;
    padding-left: 15px;
}

//==========================
//header
.header {
    width: 100%;
    padding: 0 1px;
    min-height: 300px;
    margin: 0 auto;
    &__menu {
        width: 100%;
        padding: 0;
        background: var(--sideDark);
        height: 80px;
    }

    &__lable {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 1199.9px) {
            margin-left: 0px;
        }
    }

    &__btn {
    }

    &__content {
        min-height: 225px;
        background: url("../img/headerBg.png") no-repeat center;
        background-size: cover;
    }
    &__text {
        max-width: 1110px;
        -ms-flex-item-align: center;
        align-self: center;
        margin: 0 auto;
        h1 {
            width: 35%;
            padding-top: 57px;
            font-family: "Inter-b";
            font-size: 40px;
            line-height: 56px;
            text-transform: capitalize;
            color: var(--sideHeaderText);
            @media (max-width: 1319.9px) {
                font-size: 35px;
            }
            @media (max-width: 1199.9px) {
                font-size: 30px;
            }
        }
    }
}
.header-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    button {
        padding: 0 16px;
    }
}
//кнопка переключение языка
.list-btn {
    font-family: "open-s";
    font-size: 18px;
    line-height: 25px;
    color: var(--langLink);
}

//==========================
//navbar
.nav {
    padding: 18px 0;
    display: block !important;
    &__container {
        margin: 0 auto;
        // border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__empty {
        width: 31%;
        // border: 1px solid #000;
        margin-right: 35px;
    }

    &__content {
        width: 65.7%;
        // border: 1px solid #000;
    }
    &__menu {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--searchBg);
        border-radius: 4px;
        li::after {
            content: "/";
            position: absolute;
            top: 15px;
            right: 0px;
            bottom: 0px;
            color: var(--baseColor);
            font-size: 17px;
        }
        li:last-child::after {
            content: "";
        }
    }
    &__item {
        padding: 16px 17px;
        position: relative;
    }
    &__link {
        font-family: "Inter-m";
        font-size: 16px;
        line-height: 16px;
        color: var(--primaryColor);
    }
}
.nav__item.active .nav__link {
    color: var(--baseColor);
}
//==========================
// section

.section {
    &__container {
        margin: 0 auto;
        // border: 1px solid #000;
        display: flex;
        justify-content: center;
    }
}
//===========================
/*section-side*/
.section-side {
    width: 31%;
    margin-right: 35px;

    &__header {
        width: 100%;
        height: 135px;
        background: linear-gradient(97.16deg, #05b7bf 19.53%, #00b3a8 80.6%);
        border: 1px solid #05b7bd;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
            font-family: "Inter-r";
            font-size: 20px;
            line-height: 24px;
            color: var(--sideHeaderText);
        }
    }

    &__menu {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 184px;
        background: var(--white);
        border: 1px solid #dee2e6;
        border-radius: 4px;
        a {
            display: block;
            width: 100%;
            font-family: "Inter-b";
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            background-color: var(--primaryColorLight);
            color: var(--primaryColorDark);
            padding: 8px 16px;
            margin: 0px 0px;
        }
        span {
            font-family: "Inter-b";
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: var(--secondaryLight);
            display: block;
            margin: 16px 16px;
        }
    }

    &__list {
        width: 100%;
    }

    &__item {
        button {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 8px 16px;
            font-family: "Inter-m";
            font-size: 14px;
            line-height: 16px;
            color: var(--dark);
            &:hover {
            }
        }
    }

    &__link {
    }

    &__filter {
        margin-top: 71px;
        span {
            display: block;
            font-family: "Inter-r";
            font-size: 16px;
            line-height: 24px;
            color: var(--sideDark);
            margin-bottom: 17px;
        }
        button {
            width: 100%;
            height: 29px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 4px 8px;
            background: #ffffff;
            border: 1px solid #ced4da;
            box-sizing: border-box;
            border-radius: 4px;
            position: relative;
            margin-bottom: 16px;
            font-family: "Inter-r";
            font-size: 14px;
            line-height: 21px;
            color: var(--sideMuted);
            &:last-child {
                margin-bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--sideHeader);
                font-family: "Inter-r";
                font-size: 16px;
                line-height: 24px;
                color: var(--sideHeaderText);
            }
            &:after {
                position: absolute;
                top: 11px;
                right: 12px;
                bottom: 0px;
            }
        }
    }
}

.dropdown-menu {
    width: 100%;
    li {
        padding: 4px 24px;
        margin-bottom: 4px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.dropdown-item {
    padding: 0 !important;
    font-family: "Inter-r";
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: var(--sideDark);
    &:hover {
        background: var(--white);
    }
}
.section-side__item.active .section-side__link {
    z-index: 3;
    color: var(--white);
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}
//============================
/*section-content*/
.section-content {
    width: 65.7%;
    border-radius: 4px;
    // border: 1px solid #000;
    &__form {
        position: relative;
        &::before {
            content: '6600+Results for "Search"';
            position: absolute;
            font-family: "roboto-r";
            font-size: 12px;
            line-height: 14px;
            color: #abb5be;
            bottom: 23px;
            left: 105px;
        }
    }

    &__search {
        width: 100%;
        height: 136px;
        background: var(--searchBg) url("../img/icons/search.svg") no-repeat
            40px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 991.9px) {
            background: var(--searchBg) url("../img/icons/search.svg") no-repeat
                10px;
        }
    }

    &__input {
        width: 64.9%;
        height: 38px;
        background: var(--white);
        border: 1px solid var(--stroke);
        box-sizing: border-box;
        border-radius: 4px;
        position: relative;
    }

    &__btn {
        width: 71px;
        height: 37px;
        font-family: "roboto-r";
        font-size: 12px;
        line-height: 14px;
        color: var(--primaryColor);
        border: 1px solid var(--primaryColor);
        box-sizing: border-box;
        border-radius: 4px;
        margin-left: 6px;
    }

    &__people {
        margin-top: 14px;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
    &__pagination {
        margin-top: 210px;
        ul a {
            font-family: "Inter-r";
            font-size: 16px;
            line-height: 16px;
            color: var(--primaryColor);
            padding: 12px 14px;
            &:hover {
                color: var(--secondaryLight) !important;
                background-color: var(--white) !important;
            }
        }
    }
}
.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
//=============================
/*card*/
.section-card {
    width: 47.2%;
    border: 1px solid var(--stroke);
    border-radius: 4px;
    margin-right: 20px;
    margin-bottom: 20px;
    &__header {
        display: flex;
    }

    &__info {
        margin: 36px 0px 0px 18px;
        li {
            font-family: "Inter-r";
            font-size: 16px;
            line-height: 24px;
            color: var(--baseColor);
            &:nth-child(2n) {
                font-family: "Inter-b";
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h3 {
            font-family: "Inter-ex";
            font-size: 20px;
            line-height: 24px;
            color: var(--titleColor);
            margin: 25px 0 11px 25px;
        }
        p {
            font-family: "Inter-r";
            font-size: 16px;
            line-height: 24px;
            color: var(--baseColor);
            margin: 0px 0 20px 25px;
        }
        ul {
            width: 100%;
            button {
                font-family: "Inter-s";
                font-size: 16px;
                line-height: 19px;
                color: var(--searchBtn);
            }
        }
        ul li {
            padding: 16px 0px 14px 16px;
            border-top: 1px solid var(--stroke);
            span {
                font-family: "Inter-r";
                font-size: 16px;
                line-height: 19px;
                color: var(--baseColor);
            }
        }
    }
}
//=============================
/*section-favorites*/
.card-section {
    position: relative;
    &::after {
        content: "";
        background: url("../img/icons/bookmarkHeart.svg") no-repeat;
        background-position: top right;
        position: absolute;
        top: -5px;
        left: 0px;
        right: 7px;
        bottom: 0px;
    }
}

//=======================================================
/*section-profile*/
.section-content {
    &__people {
        width: 100%;
    }
}
.section-profile {
    width: 100%;
    border: 1px solid var(--stroke);
    border-radius: 0px 0px 4px 4px;
    &__img {
        width: 100%;
        background-color: var(--cardBg);
        border-radius: 4px 4px 0px 0px;
        img {
            border-radius: 4px 0px 0px 0px;
        }
    }

    &__list {
        ul {
            display: flex;
            justify-content: flex-end;
            margin: 24px 0 20px 0;
        }
        li {
            p {
                font-family: "Inter-ex";
                font-size: 20px;
                line-height: 24px;
                color: var(--titleColor);
                display: block;
            }
            &:nth-child(1) {
                flex: 1 1 410px;
                margin-left: 24px;
            }
            &:nth-child(n + 2) {
                margin-right: 49px;
                p {
                    font-family: "Inter-b";
                    font-size: 16px;
                    line-height: 10px;
                    color: var(--baseColor);
                }
            }
        }
        span {
            font-family: "Inter-r";
            font-size: 16px;
            line-height: 24px;
            color: var(--baseColor);
        }
    }
    &__link {
        width: 100%;
        display: flex;
        flex-direction: column;
        a {
            width: 100%;
            margin-top: 15px;
            height: 50px;
            background: #ffffff;
            border: 1px solid var(--stroke);
            border-radius: 4px 4px 0px 0px;
            box-sizing: border-box;
            padding: 16px 0 16px 16px;
            font-family: "Inter-r";
            font-size: 16px;
            line-height: 19px;
            color: var(--primaryColor);
            &:last-child {
                margin-top: -2px;
                border-radius: 0px 0px 4px 4px;
            }
        }
    }
    button {
        width: 100%;
        height: 50px;
        background: var(--white);
        border-top: 1px solid var(--stroke);
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        padding: 16px 0 16px 16px;
        font-family: "Inter-s";
        font-size: 16px;
        line-height: 19px;
        color: var(--searchBtn);
    }
    pre {
        font-family: "Inter-r";
        font-size: 14px;
        line-height: 24px;
        color: #68717a;
        border-top: 1px solid var(--stroke);
        display: flex;
        justify-content: flex-start;
        padding: 20px 0px 60px 24px;
        margin-bottom: 0px !important;
    }
}

//=======================================
/*pagination*/
.page-item.active .page-link {
    z-index: 3 !important;
    color: var(--white) !important;
    background-color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
}

//========================================
//accordion
.accordion {
    width: 100%;
    min-height: 0;
    display: block;
    position: relative;
    margin-top: 15px;
    padding: 0;
    background-color: var(--white);
    overflow: hidden;
}

.accordion h2 {
    font-family: "Inter-s";
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    display: block;
    padding: 16px 0 16px 16px;
    cursor: pointer;
    color: var(--darkAccordion);
    background: var(--white);
    border: 1px solid var(--stroke);
    box-sizing: border-box;
}

.msg {
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
}

.msg p {
    font-family: "Inter-r";
    font-size: 16px;
    line-height: 28px;
    color: var(--darkAccordion);
    letter-spacing: 1px;
    padding: 0 20px;
}

@media (max-width: 550px) {
    .accordion {
        box-sizing: border-box;
        transform: translate(0, 0);
        max-width: 100%;
        min-height: 100%;
        margin: 0;
        left: 0;
    }
}

.accordion ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
}

.accordion ul li {
    position: relative;
    padding: 0;
    margin-top: 0px;
}

.accordion ul li:nth-of-type(1) {
    animation-delay: 0.5s;
}
.accordion ul li:nth-of-type(2) {
    animation-delay: 0.75s;
}
.accordion ul li:nth-of-type(3) {
    animation-delay: 1s;
}
.accordion ul li:last-of-type {
    padding-bottom: 0;
}

.accordion ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
}

.accordion ul li i:after {
    content: "";
    background: url("../img/icons/stroke.svg") no-repeat top;
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 13px;
    height: 7px;
}

.accordion ul li i:before {
    transform: translate(-2px, 0) rotate(180deg);
}
.accordion ul li i:after {
    transform: translate(2px, 0) rotate(-180deg);
}

.accordion ul li input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.accordion ul li input[type="checkbox"]:checked ~ div.msg {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

.accordion ul li input[type="checkbox"]:checked ~ i:before {
    transform: translate(2px, 0) rotate(0deg);
}
.accordion ul li input[type="checkbox"]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-0deg);
}

div.msg,
ul li i:before,
ul li i:after {
    transition: all 0.5s ease-in-out;
}
