.people {
    height: calc(100vh - 100px);
    overflow-y: auto;
}

.form-wrapper {
    margin-left: 120px;
}

input{
    border: 1px solid #CED4DA;
    padding: 8px 16px;
    border-radius: 4px;
    width: 100%;
    outline: none;
  }

  input::placeholder {
    color: #ABB5BE;
    font-size: 16px;
  }

.form-fields {
    border: 1px solid #DEE2E6;
    padding-top: 53px;
    padding-left: 65px;
    padding-bottom: 128px;
    padding-right: 65px;
    max-width: 860px;
}

.upload-actions {
    height: 205px;
}

.user-photo {
    width: 205px;
    background: linear-gradient(0deg, #C2C2C2, #C2C2C2), #ABB5BE;;
}

.user-logo {
    background: #F5F5F5;
}

.textarea-input {
    border: 1px solid #DEE2E6;
    outline: none;
}

input {
    border: 1px solid #DEE2E6;
}

.upload-resume {
    margin-top: 40px;
    border: 1px solid #DEE2E6;
    color: #7749F8;
    padding: 16px;
}

.form-btn {
    width: 211px;
    height: 55px;
    left: 727px;
    top: 1494px;
    border-radius: 4px;
}

.form-btn--1 {
    background: #F5F5F5;
    color: #101828;
}

.form-btn--2 {
    background-color: #222222;
    color: white;
    
}

.add-btn, .remove-btn{
    border-radius: 24px;
    background: #fafafa;
    color: white;
}


.padding-y-9 {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
    width: 83px;
    height: 42px;
}