.search-input-wrapper {
    max-width: 475px;
    height: 40px;
    border: 1px solid #98A2B3;
}

.search-input-wrapper input {
    border: none;
}

.filter-input {
    background: #FFFFFF;
    border: 1px solid #98A2B3;
}

.apply-button {
    background-color: #414141;
}